/* All Tag */
* { font-family: Microsoft YaHei UI; font-size: 16px; font-weight: normal; margin: 0; padding: 0; border: none; }
a{ text-decoration: none; }
ul{ list-style: none; }
h2{ margin-bottom:40px; font-size: 40px; color: #f46208; letter-spacing: 14px; }
h4{ width: 62%; margin:0 auto 64px; line-height: 24px; }
footer, .portfolio, .stats, .team, .contact { margin-top: 110px; text-align: center; }

/* header */
header { height: 110px; background: #2e2e2e; }
header > .container { width: 90%; margin:0 auto; }
header > .container > a{ display: block; float: left; margin: 37px 25px; }
header > .container > nav{ float: right; }
header > .container > nav > a { font-size: 16px; line-height: 110px; display: block; float: left; margin-right: 50px; color: #fff; }
header > .container > nav > a:hover, 
header > .container > nav > a.active { color: #f46208; }

/* banner: 行高为1.25倍，计算hgroup高度122*/
.banner { position: relative; }
.banner > img { width: 100%; }
.banner > div { width: 850px; position: absolute; z-index: 10000; left: 50%; margin-left: -425px; top: 50%; margin-top: -61px; }
.banner > div > h1 { font-size: 64px; color:#fff; }
.banner > div > p { font-size: 32px; color: #fff; }

/* protfolio */
.portfolio > nav{ margin-bottom: 54px; }
.portfolio > nav > a { display: inline-block; height: 28px; padding: 8px 15px; background: #fff; font-size: 20px; color: #f46208; border: 1px solid #f46208; }
.portfolio > nav > a:not(.first-a) { margin-left: 12px; }
.portfolio > nav > a:hover { color: #fff; background: #f46208; }
.portfolio > img { width:100%; }

/* stats */
.stats > .wrap-stats > dl { display: inline-block; }
.stats > .wrap-stats > dl:not(.first-dl) { margin-left: 120px; }
.stats > .wrap-stats > dl > dt { margin-bottom: 20px; }
.stats > .wrap-stats > dl > dd:first-of-type { font-size: 20px; margin-bottom: 20px; }
.stats > .wrap-stats > dl > dd:last-of-type { font-size: 30px; color:#f46208; letter-spacing: 10px; }

/* team */
.team { background: #2e2e2e; padding:110px 0; }
.team > h4 { color:#fff; }
.team > .wrap-team > dl { display: inline-block; }
.team > .wrap-team > dl:not(.first-dl) { margin-left: 60px; }
.team > .wrap-team > dl > dd:first-of-type { font-size: 14px; color:#fff; }
.team > .wrap-team > dl > dd:last-of-type {width: 240px; font-size: 12px; color:#fff; }

/* contact */
.contact > form > input { height: 52px; width: 440px; border: 1px solid #C0C0C0; margin-bottom: 16px; padding: 0 10px; }
.contact > form > input:focus, textarea:focus { background: #f3f3f3; }
.contact > form > input:first-of-type { margin-right: 20px; }
.contact > form > textarea { height: 272px; width: 922px; border: 1px solid #C0C0C0; padding: 0 10px; line-height: 272px; resize: none;
}
.contact > form > fieldset > input[type="submit"] { height: 60px; width: 200px; background: #f46208; font-size: 20px; color: #fff; }
.contact > form > fieldset > input[type="submit"]:hover { cursor: pointer; }

/* footer */
footer { height: 110px; 
	background: #000; color: #fff; }
footer > .container { padding: 40px 0; }